@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('BricolageGrotesque-Regular.woff2') format('woff2'),
        url('BricolageGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('assets/fonts/BricolageGrotesque-ExtraLight.woff2') format('woff2'),
        url('assets/fonts/BricolageGrotesque-ExtraLight.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('BricolageGrotesque-Bold.woff2') format('woff2'),
        url('BricolageGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0;
}


div>h1,
p {
    font-weight: lighter;
}

.next-page {
    padding-bottom: 250px;
}

.hero-div {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-right: -8em;
    z-index: 0;
}

#firstname-h1 {
    margin-bottom: -25px;
}

.name-text {
    font-size: 83px;
    font-weight: bold;
    margin: 0;
    margin-bottom: -20px;
}

.name-text-div {
    display: flex;
    flex-direction: column;
    background-image: url(assets/images/presentation.jpg);
    background-clip: text;
    color: transparent;
}

.job-name {
    font-size: 18px;
    font-weight: normal;
    padding: 4px 0 0 4px;
    letter-spacing: 0.200em;
}

.hello-text {
    color: #545454;
    font-size: 24px;
    letter-spacing: 0.276em;
    margin-bottom: -15px;
    padding: 0 0 4px 4px;
}

.hero-img-div {
    min-height: 550px;
    min-width: 550px;
    max-height: 550px;
    max-width: 550px;
}

.hero-img-div>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.brief-img-div {
    min-height: 100vh;
    min-width: 425px;
    max-height: 100vh;
    max-width: 40vw;
    width: 40vw;
    position: relative;
    overflow: hidden;
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
}

.brief-img-div>img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: top 0 right 20%;
    transform: rotateY(3.142rad);
}

.brief-div>div p {
    font-size: 2rem;
    margin: 10%;
    line-height: 1.4;
}

.p-div {
    min-width: 255px;
}

.brief-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resume-div {
    display: flex;
    justify-content: center;
}

.resume-div>hr {
    margin: 0 25px 0 25px;
    border: 1px solid white;
    height: 160px;
    /* align-self: center; */
    margin-top: 275px;

}

.div-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.logo-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    margin-top: 5px;
    letter-spacing: .150em;
    font-size: 24px;
}

.logo-div>img {
    width: 70px;
    height: 70px;
}

.logo-div {
    border: solid 2px white;
    border-radius: 50%;
    padding: 25px;
    max-height: 70px;
    max-width: 70px;
}

.list-div {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .050em;
    line-height: 1.7;
    height: 100%;
    margin-top: 20px;
}

.list-div>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.li-no-decoration {
    list-style-type: none;
    font-weight: lighter;
}

.projects-div>h1 {
    text-align: center;
    margin-bottom: 40px;
}



.project-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.projects-card-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projects-card-div>img {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.hobbies-interests-div>.div-cards>.list-div>ul {
    justify-content: start;
}

.contact-me-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15vh;
    gap: 150px;
}

.contact-me-info-div {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.4;
}

.contact-me-img-div {
    height: 75vh;
}

.contact-me-img-div>img {
    height: 100%;
    transform: rotateY(3.142rad);
}

@media (width <=1260) {
    .hero-div {
        flex-wrap: wrap;
    }
}